<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <title>Doctor Manager</title>
</head>
<body>

<nav th:replace="~{fragments/navbar :: navbar}"></nav>

<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Bienvenidos a Doctor-Manager</h1>
        <p class="fs-5 mt-4">Selecciona una opción en el menú de navegación</p>
    </div>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>